{% extends "base.html" %}
{% block title %} Account | OuterSpaces {% endblock %}
{% block body %}

<div class="container">
  <div class="row">

    <h1>Log In Or Sign Up</h1>

    <button id="loginBtn" disabled>Log In</button>&nbsp;
    <button id="signupBtn">Sign Up</button>
    <br><br>

    <!--============-->
    <!-- LOGIN FORM -->
    <!--============-->
    <form action="/login" method="POST" id="loginForm">
      <input type="text" placeholder="Email" name="emailLogin" id="emailLogin">
      <br><br>
      <input type="text" placeholder="Password" name="pwLogin" id="pwLogin">
      <br><br>
      <input type="submit" value="Log In" id="submitLogin">
    </form>


    <!--=============-->
    <!-- SIGNUP FORM -->
    <!--=============-->
    <div id="hideSignUpForm">
      <form action="/signup" method="POST" id="signUpForm">
        <input type="hidden" placeholder="First Name" name="fNameSignup" id="fNameSignup">
        <br><br>
        <input type="hidden" placeholder="Last Name" name="lNameSignup" id="lNameSignup">
        <br><br>
        <input type="hidden" placeholder="Email" name="emailSignup" id="emailSignup">
        <br><br>
        <input type="hidden" placeholder="Password" name="pwSignup" id="pwSignup">
        <br><br>
        <input type="hidden" value="Sign Up" id="submitSignup">
      </form>
    </div>

  </div>
</div>

{% endblock %}