{% extends "base.html" %}
{% block title %}Public Art | OuterSpaces{% endblock %}
{% block body %}

<div class="col-xs-12">
<h1>Public Art &mdash; {{ total_art }} Locations</h1>

<figure class="hidden-xs">
  <blockquote cite="http://sf-planning.org/privately-owned-public-open-space-and-public-art-popos">
    San Francisco has a <strong>1% Art Program</strong> that requires all projects involving new building, or the addition of 25,000 square feet or more in the Downtown and nearby neighborhoods, provide public art equal to at least 1% of the total construction cost. This program was established by the 1985 Downtown Plan and is governed by <a href="http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_429" target="_blank">Section 429 of the Planning Code.</a> Since May 2012, some projects may choose to dedicate a portion of their 1% Art requirement to the <a href="http://www.sfartscommission.org/pubartcollection/public-art-trust/" target="_blank">City's Public Art Trust.</a>
  </blockquote>

  <figcaption>Retrieved from <a href="http://sf-planning.org/privately-owned-public-open-space-and-public-art-popos" target="_blank">http://sf-planning.org/privately-owned-public-open-space-and-public-art-popos</a></figcaption>
</figure>

<h2>
  <a class="alpha">a</a>&nbsp; <a class="alpha">b</a>&nbsp; <a class="alpha">c</a>&nbsp; <a class="alpha">d</a>&nbsp; <a class="alpha">e</a>&nbsp; <a class="alpha">f</a>&nbsp; <a class="alpha">g</a>&nbsp; <a class="alpha">h</a>&nbsp; <a class="alpha">i</a>&nbsp; <a class="alpha">j</a>&nbsp; <a class="alpha">k</a>&nbsp; <a class="alpha">l</a>&nbsp; <a class="alpha">m</a>&nbsp; <a class="alpha">n</a>&nbsp; <a class="alpha">o</a>&nbsp; <a class="alpha">p</a>&nbsp; <a class="alpha">q</a>&nbsp; <a class="alpha">r</a>&nbsp; <a class="alpha">s</a>&nbsp; <a class="alpha">t</a>&nbsp; <a class="alpha">u</a>&nbsp; <a class="alpha">v</a>&nbsp; <a class="alpha">w</a>&nbsp; <a class="alpha">x</a>&nbsp; <a class="alpha">y</a>&nbsp; <a class="alpha">z</a>
</h2><br>

<h2 id="pageName"></h2><br>
    
{% for alpha in art_dict %}
  <div id="{{ alpha }}" class="hideAlpha" hidden>

    {% if not art_dict[alpha] %}
      <h3>Sorry, there are no public art spaces that start with the letter "{{ alpha }}".</h3>
    {% endif %}

    <table class="table table-striped">
      <tbody>
        {% for art in art_dict[alpha] %}
          <tr>
            <td>
              {% if "title" in art %}
                <h3>{{ art.title }}</h3>
              {% else %}
                <h3>Untitled</h3>
              {% endif %}

              <p>
                <strong>Address: </strong>{{ art.name }}<br>

                {% if "location" in art %}
                  <strong>Location: </strong>{{ art.location }}<br>
                {% endif %}

                {% if "type" in art %}
                  <strong>Type: </strong>{{ art.type }}<br>
                {% endif %}

                {% if "medium" in art %}
                  <strong>Medium: </strong>{{ art.medium }}<br>
                {% endif %}

                {% if "artistlink" in art %}
                  <a target="_blank" 
                  href="{{art.artistlink}}">Learn more &raquo;</a><br>
                {% endif %}

                <div class="left-float">
                  <form action="/one" method="POST">
                    <input type="hidden" name="lat" class="lat" 
                    value="{{ art.the_geom.coordinates[1] }}">

                    <input type="hidden" name="lng" class="lng" 
                    value="{{ art.the_geom.coordinates[0] }}">

                    {% if "title" in art %}
                      <input type="hidden" name="identifier" value="{{ art.title }}">
                    {% else %}
                      <input type="hidden" name="identifier" value="{{ art.name }}">
                    {% endif %}
                    
                    <button type="submit" class="btn btn-default">Show On Map</button>
                  </form>
                </div>
                <div class="left-float">
                  <form class="artPageForm">
                    {% if "title" in art %}
                      <input type="hidden" class="title" value="{{ art.title }}">
                    {% else %}
                      <input type="hidden" class="title">
                    {% endif %}

                    <input type="hidden" class="address" value="{{ art.name }}">

                    {% if "location" in art %}
                      <input type="hidden" class="location" value="{{ art.location }}">
                    {% else %}
                      <input type="hidden" class="location">
                    {% endif %}

                    {% if "type" in art %}
                      <input type="hidden" class="art_type" value="{{ art.type }}">
                    {% else %}
                      <input type="hidden" class="art_type">
                    {% endif %}

                    {% if "medium" in art %}
                      <input type="hidden" class="medium" value="{{ art.medium }}">
                    {% else %}
                      <input type="hidden" class="medium">
                    {% endif %}

                    {% if "artistlink" in art %}
                      <input type="hidden" class="artist_link" value="{{ art.artistlink }}">
                    {% else %}
                      <input type="hidden" class="artist_link">
                    {% endif %}

                    <input type="hidden" class="lat" value="{{ art.the_geom.coordinates[1] }}">

                    <input type="hidden" class="lng" value="{{ art.the_geom.coordinates[0] }}">
                    
                    <button type="submit" class="btn btn-default">Add To Favorites</button>
                  </form>
                </div>
              </p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}
</div>

{% endblock %}