{% extends "base.html" %}

{% block title %}OuterSpaces{% endblock %}

{% block body %}


  <div class="jumbotron">
    <h1 class="display-3">OuterSpaces</h1>
    <p class="lead">An app to find outside places to eat, sit, and look at art.</p>
    <hr class="my-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Want to view San Francisco from a view terrace?</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/map" 
              role="button">Find an OuterSpace &raquo;</a>
          </p>
        </div>
        <div class="col-sm-6">
          <p>Want to go to lunch from your current location?</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/plan"
              role="button">Plan My Trip &raquo;</a>
            </p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}