{% extends "base.html" %}

{% block title %}OuterSpaces{% endblock %}

{% block body %}

  <div class="jumbotron">
    <h1 class="display-3">OuterSpaces</h1>
    <p class="lead">An app to find outside places to eat, sit, and look at art.</p>
    <hr class="my-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Want to see San Francisco from a view terrace?</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/map" 
              role="button">Find an OuterSpace &raquo;</a>
          </p>
        </div>
        <div class="col-sm-6">
          <p>Want to go to lunch from your current location?</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="/plan"
              role="button">Plan My Trip &raquo;</a>
            </p>
        </div>
      </div>
    </div>
  </div>


  <!-- ======================= -->
  <!-- ======== MODAL ======== -->
  <!-- ======================= -->

  <div class="modal fade" id="deletedModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">OuterSpaces says...</h4>
        </div>
        <div class="modal-body">
          <p>We are sorry to see you go ='[</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}