<!DOCTYPE html>
<html>
<head>
  <title>OuterSpaces</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" href="/static/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Muli:300|Ek+Mukta|Open+Sans|Paytone+One" rel="stylesheet">
  <script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/static/scripts/myJS.js"></script>
  <link rel="stylesheet" href="/static/styles/mystyles.css">
  <link rel="stylesheet" href="/static/styles/my_index_styles.css">
</head>
<body>

<div class="container">
  <div class="row">

    <div class="col-xs-12 text-center vertical-center">
      <h1>OuterSpaces</h1>
        <h2 id="subheading">Outside places to eat, sit, and look at art.</h2>

              <hr>
                <h2 class="prompt">Want to see San Francisco from a view terrace?</h2>
                <p class="lead">
                  <a class="btn btn-default btn-lg index-btn" href="/map" 
                    role="button">Find an OuterSpace &raquo;</a>
                </p>
                <h2 class="prompt">Want to head to lunch from an address?</h2>
                <p class="lead">
                  <form action="/plan" method="POST">
                    <input type="text" class="form-control" name="plan_my_trip"
                      placeholder="450 Sutter San Francisco" required>
                    <input type="submit" class="btn btn-default btn-lg index-btn"
                      value="Plan My Trip &raquo;">
                </p>

    </div>


    <!-- //////////
    //// Modal ////
    /////////// -->

    <div class="modal fade" id="deletedModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">OuterSpaces says...</h4>
          </div>
          <div class="modal-body">
            <p>We are sorry to see you go ='[</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="flashModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">OuterSpaces Says...</h4>
            </div>
            <div class="modal-body">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <p class=flashes>
                    {% for message in messages %}
                      {{ message }}
                    {% endfor %}
                    </p>
                  {% endif %}
                {% endwith %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pageModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">OuterSpaces says...</h4>
      </div>
      <div class="modal-body">
        <p id="pageModalHtml"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <script>
    //////////////////////
    // Flash into modal //
    //////////////////////

    var messages = "{{ get_flashed_messages() }}";

    if (typeof messages != 'undefined' && messages != '[]') {
      $("#flashModal").modal();
    };
  </script>
</body>
</html>
