{% extends "base.html" %}
{% block title %}Map | OuterSpaces{% endblock %}
{% block script %}
  <script src="../static/scripts/markers.js"></script>
  <script src="../static/scripts/initMap.js"></script>
  <script src="../static/scripts/mapHelpers.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap&libraries=geometry"></script>
{% endblock %}

{% block body %}


  <div class="col-xs-12 col-sm-8" id="{{ id }}">

    <h1>Map</h1>

    <p>Click on a marker to see detailed information about the OuterSpace.</p>

    <div id="map"></div>

  </div>

  <div class="col-xs-12 col-sm-4 text-center">
    
    <p>Click on the colored icons below to show/hide markers on the map.</p>
      
    <span class="nobreak">
      <input type="checkbox" name="space" value="truck" class="truckMap checkbox-circle" id="truckMap" checked>
      <label for="truckMap">&nbsp;Food Trucks&nbsp;&nbsp;</label>
    </span>
    <span class="nobreak">
      <input type="checkbox" name="space" value="popos" class="poposMap checkbox-circle" id="poposMap" checked>
      <label for="poposMap">&nbsp;POPOS&nbsp;&nbsp;</label>
    </span>
    <span class="nobreak">
      <input type="checkbox" name="space" value="art" class="artMap checkbox-circle" id="artMap" checked>
      <label for="artMap">&nbsp;Public Art&nbsp;&nbsp;</label>
    </span>
  
    <form id="searchForm">
      <div class="form-group">
        <input type="text" class="form-control"  name="search" placeholder="ice cream, tacos..." id="search">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
      
      {% if id == "map_one" %}
        <form action="/map" method="POST">
          <button type="submit" class="btn btn-default">Reset</button>
        </form>
        <form>
          <input type="hidden" id="lat" value="{{ lat }}">
          <input type="hidden" id="lng" value="{{ lng }}">
          <input type="hidden" id="identifier" value="{{ identifier }}">
        </form>
      {% else %}
        <button id="resetMap" class="newMap btn btn-default">Reset</button>
      {% endif %}

    </form>
    
    <div id="textDirections"></div>

  </div>

{% endblock %}