{% extends "base.html" %}
{% block title %}Map | OuterSpaces{% endblock %}
{% block script %}
  <script src="/static/scripts/helpers.js"></script>
  <script src="/static/scripts/markers.js"></script>
  <script src="/static/scripts/initMap.js"></script>
  <script src="/static/scripts/mapHelpers.js"></script>
  <script async defer 
  src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap&libraries=geometry">
  </script>
{% endblock %}

{% block body %}

  {% if id == "plan_trip" %}
    <h3 class="text-center">Your OuterSpace trip has been created! Read the 
      directions to get to each location.</h3>
  {% endif %}

  <div class="col-xs-12 col-sm-8" id="{{ id }}">

    {% if id != "plan_trip" %}
      <h3 class="text-center">Click on an OuterSpace marker to see detailed 
      information, get directions, show nearby locations, or add to your favorites. 
      Click in a neighborhood to show OuterSpaces in that neighborhood.</h3>
    {% endif %}      

    <div id="map"></div>
    <h3 id="infoBox"></h3>

  </div>

  <div class="col-xs-12 col-sm-4 text-center">

    {% if id != "view_map" %}
      <form>
        <input type="hidden" id="lat" value="{{ lat }}">
        <input type="hidden" id="lng" value="{{ lng }}">
        <input type="hidden" id="identifier" value="{{ identifier }}">
      </form>
    {% endif %}

    {% if id != "plan_trip" %}
    
      <h4>Show / Hide:</h4>
        
      <span class="nobreak">
        <input type="checkbox" name="space" value="truck" class="checkbox-circle" 
        id="truckMap" checked>
        <label for="truckMap">&nbsp;Food Trucks&nbsp;&nbsp;</label>
      </span>
      <span class="nobreak">
        <input type="checkbox" name="space" value="popos" class="checkbox-circle" 
        id="poposMap" checked>
        <label for="poposMap">&nbsp;POPOS&nbsp;&nbsp;</label>
      </span>
      <span class="nobreak">
        <input type="checkbox" name="space" value="art" class="checkbox-circle" 
        id="artMap" checked>
        <label for="artMap">&nbsp;Public Art&nbsp;&nbsp;</label>
      </span>
      <span class="nobreak">
        <input type="checkbox" name="space" value="hood" class="checkbox-circle"
        id="hoodMap" checked>
        <label for="hoodMap">&nbsp;Neighborhoods&nbsp;&nbsp;</label>
        <a href="/map"><button type="button" id="resetMap" class="btn btn-default">Reset Map</button></a>
        <br><br>
      </span>

      <form class="form-inline" id="searchForm">
        <div class="form-group">
        <label class="sr-only" for="inlineFormInput">Search Map</label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 searchMap" 
          id="inlineFormInput" name="search" placeholder="tacos, view terrace...">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    <br>
      <form class="form-inline" id="addressForm">
        <div class="form-group">
          <label class="sr-only" for="inlineFormInput">Search By Address</label>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 searchByAddress" 
          id="inlineFormInput" name="searchByAddress" placeholder="450 Sutter">
        </div>
        <button type="submit" class="btn btn-default">Near Address</button>
      </form>
      <br>
      </div>

      <div id="textDirections"></div>

    {% else %}

    <button type="button" id="walking" class="btn btn-primary">Walking</button>
    <button type="button" id="driving" class="btn btn-default">Driving</button>

    <div id="textDirections"></div>

      <div class="row">
        <div class="col-xs-12 text-center">
          <a href="/map"><button type="button" id="resetMap" class="btn btn-default">Reset</button></a>
        </div>
      </div>

    {% endif %}

  </div>
  

{% endblock %}