{% extends "base.html" %}
{% block title %}POPOS | OuterSpaces{% endblock %}
{% block body %}
      
  <h1>Privately Owned Public Open Spaces (POPOS)</h1>
      
      {% for popo in popos %}
        
        <p>
          {% if "name" in popo %}
            <h3>{{popo.name}}</h3>
          {% else %}
            <h3>Untitled</h3>
          {% endif %}
          
          {% if "popos_addr" in popo %}
            <strong>Address:</strong>{{popo.popos_addr}}<br>
          {% endif %}

          {% if "hours" in popo %}
            <strong>Hours:</strong>{{popo.hours}}<br>
          {% endif %}

          {% if "location" in popo %}
            <strong>Location:</strong>{{popo.location}}<br>
          {% endif %}

          {% if "type" in popo %}
            <strong>Type:</strong>{{popo.type}}<br>
          {% endif %}

          {% if "year" in popo %}
            <strong>Year:</strong>{{popo.year}}<br>
          {% endif %}

          {% if "desc" in popo %}
            {{popo.desc}}<br>
          {% endif %}

          <form action="/show_one_on_map" class="showOnMapForm" method="POST">
            <input type="hidden" name="lat" class="lat" value="{{ popo.the_geom.coordinates[1] }}">
            <input type="hidden" name="lng" class="lng" value="{{ popo.the_geom.coordinates[0] }}">
            <input type="hidden" name="space" class="space" value="popos">
            <input type="submit" value="show on map">
          </form>
          <br>
        </p> 

      {% endfor %}


{% endblock %}