{% extends "base.html" %}
{% block title %}POPOS | OuterSpaces{% endblock %}
{% block body %}
      
  <h1>Privately Owned Public Open Spaces (POPOS)</h1>
  <h2>
    <a class="alpha">atrium</a> | <a class="alpha">greenhouse</a> | 
    <a class="alpha">indoor park</a> | <a class="alpha">lobby</a> | 
    <a class="alpha">plaza</a> | <a class="alpha">pedestrian</a> | 
    <a class="alpha">sitting area</a> | <a class="alpha">snippet</a> | 
    <a class="alpha">sun terrace</a> | <a class="alpha">garden</a> | 
    <a class="alpha">urban park</a> | <a class="alpha">view terrace</a> | 
    <a class="alpha">other</a>
  </h2>

    {% for alpha in popos_dict %}
      <div id="{{ alpha }}" class="hideAlpha" hidden>
      
        {% for popo in popos_dict[alpha] %}
          
          <h3>{{popo.name}}</h3>
          
          <strong>Address:</strong>{{popo.popos_addr}}<br>

          {% if "hours" in popo %}
            <strong>Hours:</strong>{{popo.hours}}<br>
          {% endif %}

          {% if "location" in popo %}
            <strong>Location:</strong>{{popo.location}}<br>
          {% endif %}

          {% if "type" in popo %}
            <strong>Type:</strong>{{popo.type}}<br>
          {% endif %}

          {% if "year" in popo %}
            <strong>Year:</strong>{{popo.year}}<br>
          {% endif %}

          {% if "desc" in popo %}
            {{popo.desc}}<br>
          {% endif %}

          <form action="/one" method="POST">
            <input type="hidden" name="lat" class="lat" value="{{ popo.the_geom.coordinates[1] }}">
            <input type="hidden" name="lng" class="lng" value="{{ popo.the_geom.coordinates[0] }}">
            <input type="hidden" name="identifier" class="identifier" value="{{popo.name}}">
            <input type="submit" value="show on map">
          </form>
          <br>

        {% endfor %}
      </div> 

    {% endfor %}


{% endblock %}