{% extends "base.html" %}
{% block title %}Profile | OuterSpaces{% endblock %}
{% block script %}<script src="../static/scripts/myMapJS.js"></script>{% endblock %}
{% block body %}

  <h1>Profile</h1>

  <p><strong>Name:</strong> {{ session["first_name"] }} {{ session["last_name"] }}</p>
  <p><strong>Email:</strong> {{ session["email"] }}</p>
  
  <br><br>
  
  {% if fav_trucks %}
  <h2><u>Favorite Food Trucks</u></h2>
    {% for fav in fav_trucks %}
      <p>
        <h3>{{ fav.truck.name }}</h3>
        <strong>Address: </strong>{{ fav.truck.address }}<br>
        <strong>Hours: </strong>{{ fav.truck.hours }}<br>
        <strong>Cuisine: </strong>{{ fav.truck.cuisine }}<br>
        <form action="/show_one_on_map" class="favOnMapForm" method="POST">
          <input type="hidden" name="lat" class="lat" value="{{ fav.truck.lat }}">
          <input type="hidden" name="lng" class="lng" value="{{ fav.truck.lng }}">
          <input type="hidden" name="space" class="space" value="truck">
          <input type="submit" value="show on map">
        </form>
        <br>
      <p>
    {% endfor %}
  {% endif %}

  <br><br>

  {% if fav_popos %}  
  <h2><u>Favorite POPOS</u></h2>    
      {% for fav in fav_popos %}
      <p>
        <h3>{{ fav.popos.name }}</h3>
        <strong>Address: </strong>{{ fav.popos.address }}<br>
        <strong>Hours: </strong>{{ fav.popos.hours }}<br>
        <strong>Type: </strong>{{ fav.popos.popos_type }}<br>
        <strong>Location: </strong>{{ fav.popos.location }}<br>
        <strong>Year: </strong>{{ fav.popos.year }}<br>
        {{ fav.popos.description }}<br>
        <form action="/show_one_on_map" class="favOnMapForm" method="POST">
          <input type="hidden" name="lat" class="lat" value="{{ fav.popos.lat }}">
          <input type="hidden" name="lng" class="lng" value="{{ fav.popos.lng }}">
          <input type="hidden" name="space" class="space" value="popos">
          <input type="submit" value="show on map">
        </form>
        <br>
      <p>
    {% endfor %}
  {% endif %}

  <br><br>

  {% if fav_art %}
  <h2><u>Favorite Public Art</u></h2>    
      {% for fav in fav_art %}
      <p>
        <h3>{{ fav.art.title }}</h3>
        <strong>Address: </strong>{{ fav.art.address }}<br>
        <strong>Location: </strong>{{ fav.art.location }}<br>
        <strong>Type: </strong>{{ fav.art.art_type }}<br>
        <strong>Medium: </strong>{{ fav.art.medium }}<br>
        <a target="_blank" href="{{ fav.art.artist_link }}">{{ fav.art.artist_link }}</a><br>
        <form action="/show_one_on_map" class="favOnMapForm" method="POST">
          <input type="hidden" name="lat" class="lat" value="{{ fav.art.lat }}">
          <input type="hidden" name="lng" class="lng" value="{{ fav.art.lng }}">
          <input type="hidden" name="space" class="space" value="art">
          <input type="submit" value="show on map">
        </form>
        <br>
      </p>
    {% endfor %}
  {% endif %}

{% endblock %}