/*//////////////*/
/*/// Global ///*/
/*//////////////*/

body {
    font-family: 'Muli', sans-serif;
}

a {
    cursor: pointer;
}

h1, h2, h3, h4 {
    font-family: 'Ek Mukta', sans-serif;
}



/*//////////////*/
/*/// Navbar ///*/
/*//////////////*/

nav {
    font-size: 1.2em;
}



/*///////////////////*/
/*/// Google Maps ///*/
/*///////////////////*/

#map {
    height: 750px;
    width: 100%;
}

#infoBox {
    background-color: white;
    bottom: 30px;
    height: 40px;
    padding: 10px;
    position: absolute;
    left: 30px;
}

input[type=checkbox] {
    width: .9em;
    height: .9em;
    background-color: white;
    border-radius: 50%;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
}

input[type=checkbox]#truckMap:before { 
    content: ""; 
    display: inline-block; 
    width: .9em; 
    height: .9em; 
    background: white;
    border-radius: 50%;
    border: 1px solid black;
}

input[type=checkbox]#truckMap:checked:before { 
    background: #99FF99;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}

input[type=checkbox]#poposMap:before { 
    content: ""; 
    display: inline-block; 
    width: .9em; 
    height: .9em; 
    background: white;
    border-radius: 50%;
    border: 1px solid black;
}

input[type=checkbox]#poposMap:checked:before { 
    background: #9999FF;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}

input[type=checkbox]#artMap:before { 
    content: ""; 
    display: inline-block; 
    width: .9em; 
    height: .9em; 
    background: white;
    border-radius: 50%;
    border: 1px solid black;
}

input[type=checkbox]#artMap:checked:before { 
    background: #FF99FF;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}

input[type=checkbox]#hoodMap:before { 
    content: ""; 
    display: inline-block; 
    width: .9em; 
    height: .9em; 
    background: white;
    border-radius: 50%;
    border: 1px solid black;
}

input[type=checkbox]#hoodMap:checked:before { 
    background: #aaa;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}

.nobreak {
    white-space: nowrap;
}



/*/////////////////////*/
/*/// Page Specific ///*/
/*/////////////////////*/

.btn.hood-btns {
    font-size: 1.2em;
    font-family: 'Ek Mukta', sans-serif;
}

.left-float {
    float: left;
    padding-right: 5px;
}