/* Global 
----------------------------------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
    height: 100%;
    color: #47505e;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-size: 14px;
}

#maindiv {
    margin-left: 10px;
    margin-right: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 500;
}

h3 {
    margin-top: 5px;
}

.spacer {
  height: 10px;
}

/* Anchor
----------------------------------------------------------------------------- */

a {
    cursor: pointer;
    color: #49AE92;
    font-weight: bold;
    -webkit-transition: all ease .7s;
       -moz-transition: all ease .7s;
         -o-transition: all ease .7s;
            transition: all ease .7s;
}

a:hover, a:focus {
    color: #296152;
    text-decoration: none;
}



/* Buttons and Forms
----------------------------------------------------------------------------- */

.btn-default {
    background-color: #49AE92;
    color: #fff;
    border: none;
    -webkit-transition: all ease .7s;
       -moz-transition: all ease .7s;
         -o-transition: all ease .7s;
            transition: all ease .7s;
}

.btn-default:hover, .btn-default:focus {
    background-color: #296152;
    color: #fff;
}

.btn, .form-control {
    margin-bottom: 10px;
}

.btn.hood-btns {
    font-size: 18px;
    font-family: 'Ek Mukta', sans-serif;
}

div.btn-group.open>.btn.hood-btns, .btn.hood-btns:focus {
    background-color: #296152;
    color: #fff;
}

.btn-primary {
    background-color: #fff;
    color: #47505e;
}

/* Navbar
----------------------------------------------------------------------------- */

.navbar {
    background-color: #47505e;
}

.navbar-header {
    height: 75px;
}

.navbar-default .navbar-nav>li>a {
    font-weight: normal;
    font-size: 18px;
    font-family: 'Ek Mukta', sans-serif;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

.navbar-default .navbar-brand {
    font-weight: normal;
    font-family: 'Paytone One', sans-serif;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}


/*Collapse navbar at custom screen dimension*/
@media (max-width: 1070px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
      margin-top: 20px;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}


/* Data Pages
----------------------------------------------------------------------------- */

.left-float {
    float: left;
    padding-right: 5px;
}

.clearfix {
    clear: both;
}

#account .form-control, #account .btn-block {
    max-width: 350px;
    margin: 0 auto;
}

#hoodSpacer {
  height: 400px;
}



/* Google Maps
----------------------------------------------------------------------------- */

#map {
    height: 750px;
    width: 100%;
    margin-bottom: 15px;
}

#infoBox {
    background-color: white;
    bottom: 25px;
    height: 40px;
    padding: 7px;
    position: absolute;
    left: 30px;
    border-radius: 2px;
    box-shadow: 0 0 3px #ccc;
}

#here {
    background-color: white;
    position: absolute;
    left: 140px;
    bottom: 705px;
    height: 35px;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 0 3px #ccc;
}

#here img {
    height: 25px;
}

#content {
    font-size:14px;
}

#textDirections {
    max-width: 400px;
    margin: 0 auto;
}


.adp, .adp-summary, .adp-text, .adp-substep, .adp-legal {
    font-family: 'Muli', sans-serif;
    text-align: center;
}

.warnbox-content, .warnbox-c1, .warnbox-c2 {
    background: #fff;
    padding: 0;
}

#showhide {
    font-weight: bold;
}

input[type=checkbox] {
    width: .9em;
    height: .9em;
    background-color: white;
    border-radius: 50%;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
}

input[type=checkbox]#truckMap:before { 
    content: ""; 
    display: inline-block; 
    width: .9em; 
    height: .9em; 
    background: white;
    border-radius: 50%;
    border: 1px solid black;
}

input[type=checkbox]#truckMap:checked:before { 
    background: #5ee1bd;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}

input[type=checkbox]#poposMap:before { 
    content: ""; 
    display: inline-block; 
    width: .9em; 
    height: .9em; 
    background: white;
    border-radius: 50%;
    border: 1px solid black;
}

input[type=checkbox]#poposMap:checked:before { 
    background: #9999FF;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}

input[type=checkbox]#artMap:before { 
    content: ""; 
    display: inline-block; 
    width: .9em; 
    height: .9em; 
    background: white;
    border-radius: 50%;
    border: 1px solid black;
}

input[type=checkbox]#artMap:checked:before { 
    background: #FF99FF;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}

input[type=checkbox]#hoodMap:before { 
    content: ""; 
    display: inline-block; 
    width: .9em; 
    height: .9em; 
    background: white;
    border-radius: 50%;
    border: 1px solid black;
}

input[type=checkbox]#hoodMap:checked:before { 
    background: #aaa;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}

.nobreak {
    white-space: nowrap;
}


/* Sticky footer styles
----------------------------------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #47505e;
  color: #fff;
  text-align: center;
}

.footer a {
    color: #fff;
    font-weight: normal;
}


/* Mobile styles
----------------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
  #map {
      height: 300px;
  }

  .map-header {
    font-size: 16px;
  }

  .navbar-default .navbar-brand {
      font-size: 25px;
  }
}